@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}

.navbar {
  height: 131px;
  background: rgb(255, 255, 255);
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  
}
.list-container {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-container li {
  display: flex;
  margin: 0px 160px;
}
.list-container li a {
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
}

.resume {
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

/* header bg */

.header-bg {
  background-image: url("../assets/Hero-bg.png");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 652px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-contents {
  width: 998px;
  height: 582px;
  /* display: flex; */
  /* align-items: center; */
}
.header-contents img {
  width: 240.28px;
  height: 240px;
  margin-bottom: 24px;
}
.header-contents h1 {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
.header-contents p {
  color: rgb(13, 19, 33);
  margin: 24px 0px;
  font-size: 16px;
  font-weight: 400;
  height: 52px;
  opacity: 0.7;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.header-contents button {
  border-radius: 8px;
  align-items: center;
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  background: rgb(13, 19, 33);
}


/* main section starts */

.web-dev-container{
    height: 1393px;
    width: 1140px;
    margin: 74px auto 94px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why-web{
    height: 113px;
    width: 852px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 48px;
}
.why-web h1{
    margin-bottom: 24px;
    font-size: 32px;
font-weight: 800;
color: rgb(13, 19, 33);
line-height: 37px;
}

.why-web p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}

.web-section-container{
    height: 336px;
    width: 946px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 48px;
    border-radius: 16px;

    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;
}
.web-section-container-middle{
    height: 336px;
    width: 946px;
    display: flex;
    /* align-items: center; */
    justify-content: start;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;
}
.web-section-container-middle img{
    margin-right: 32px;
}
.web-section-container-middle .web-contents{
    margin-top: 16px;
}
.web-contents{
    width: 477px;
    height: 140px;
}

.web-contents h3{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
}
.web-contents p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin: 16px 0px;
}

.web-contents button{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: #fff;
/* margin: 32px 0px; */

}

/* inspiration section start here */

.my-inspiration{
    width: 1140px;
    height: 775px; 
    margin: 0px auto;
    margin-bottom: 151px;
}
 
.inspiration-contents{
    width: 852px;
height: 113px;
margin: 0px auto;
text-align: center;
margin-bottom: 48px;
}
.inspiration-contents h1{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}
.inspiration-contents p{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.inspiration-video{
    padding: 32px;
    border: 1px solid rgb(13, 19, 33,.2);
    border-radius: 16px;
    
}
.video{
  border-radius: 16px;
}

/* current target section */

.current-target{
  height: 462px;
  width: 1140px;
  margin: 0px auto;
  margin-bottom: 48px;
}
.target-contents{
  height: 113px;
  width: 946px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 48px;

}
.target-contents h1{
  color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
margin-bottom: 24px;
}
.target-contents p{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;

}
.target-list-card{
  display: flex;
  justify-content: space-between;
}
.card-contents{
  width: 364px;
height: 299px;
padding: 40px;
}

.html{
  border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.css{
  border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.js{
  border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.card-contents img{
  height: 56px;
  width: 56px;
  margin-bottom: 16px;
}

.card-contents h1{
  color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
margin: 8px 0px;
line-height: 36px;
letter-spacing: 0%;
}
.card-contents p{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
align-self: stretch;
letter-spacing: 0%;
opacity: 0.7;
text-align: left;
}
.card-contents a{
  color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}


/* need support section */

.need-support{
  height: 313px;
  width: 1140px;
  margin: 0px auto;
  margin-bottom: 80px;
  border-radius: 16px;
  background-image:linear-gradient(45deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)), url('../assets/handshake.jpg');
  
  

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.support{
  width: 1044px;
  height: 185px;
  text-align: center;
}

.support h1{
  color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 700;
line-height: 36px;
margin: 16px 0px;

}
.support p{
  color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin: 16px 0px;
opacity: 0.7;

margin-bottom: 20px;
}

.support input{
  border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
margin: 0px 4px;
padding: 19px 20px 19px 20px;
margin-top: 24px;

}

.support #text{
  width: 548px;
}
.support #submit{
  color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
}
::placeholder{
  color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
}

/* footer section? */

.footer{
  height: 100px;
  border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
display: flex;
justify-content: center;


}
.footer-container{
  display: flex;
  width: 1140px;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}
.footer p{
  color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
}
.footer img{
  margin-left: 24px;
}